<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "MemberMapper">
  	<!-- 작성하는 경우 #{}사용, 마지막에 ;세미콜론 작성 금지! -->
  	
  	<insert id="reg" parameterType="mvo"> <!-- mvo = domain.mvo / mvo = mvo객체가 들어올꺼야! -->
  		insert into member (id, password, email, age) 
  		values(#{id}, #{password}, #{email}, #{age})
  	</insert>
  	<select id="login" parameterType="mvo" resultType="mvo">
  		select * from member where id=#{id} and password=#{password}
  	</select>
  	<update id="logout" parameterType="string">
  		update member set last_login= now() where id=#{id}
  	</update>
  	  	<update id="edit" parameterType="mvo">
  		update member set password=#{password}, age=#{age}, email=#{email} where id=#{id}
  	</update>
  	<delete id="delete" parameterType="string">
		delete from member where id=#{id}  		
  	</delete>
  	<select id="list" resultType="mvo">
  		select id, email, age from member
  	</select>
  	
  	
  </mapper>